.btnMain {
    background-color: #81C3D7;
    border: 1px solid #81C3D7;
}

.cardMain {
    width: 18rem;
    height: 100%;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    color: #2D3748;
    transition: transform 0.2s;
}

.cardMain:hover {
    transform: translateY(-5px);
}

.cardBody {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardTitle,
.cardText {
    color: #2D3748;
}

.btnMain {
    margin-top: auto;
    align-self: center;
}